*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color:white
}
.header{
   min-height: 100vh;  /* <--!vh means viewport height--> */
    background-image: url(./jpg);
    filter:brightness(40%);
    filter:contrast(80%);
    /* drop-shadow(h-shadow v-shadow) */
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
}