*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color:aliceblue;
    background-color: black;
}
.header{
   min-height: 100vh;  /* <--!vh means viewport height--> */
    background-image: url(./image.jpg);
    filter:brightness(40%);
    /* drop-shadow(h-shadow v-shadow) */
    background-position: center;
    background-repeat: no-repeat;
}